{{$h := .Helpers}}

<ol class="breadcrumb">
  <li><a href="/jobs">jobs</a></li>
  <li><a href="/jobs/{{.Job.Name}}">{{.Job.Name}}</a></li>
  <li class="active">{{.Run.RunId}} ({{.HostRun.Host}})</li>
</ol>

<div class="container-fluid">
  <h3> {{.Job.Name}}.{{.Run.RunId}}</h3>
  <h4 class="text-muted"> {{.HostRun.Host}}</h4>
  <div class="row">
    <div class="col-md-1"><b>status:</b></div>
    <div class="col-md-1"> {{$h.DisplayRunStatusButton .HostRun.Status}}</div>
    <div class="col-md-1"></div>
    <div class="col-md-1"><b>start:</b></div>
    <div class="col-md-2">{{$h.DisplayTime .HostRun.StartTime}}</div>
    <div class="col-md-1"><b>end:</b></div>
    <div class="col-md-2">{{$h.DisplayTime .HostRun.EndTime}}</div>
    <div class="col-md-1"><b>duration:</b></div>
    <div class="col-md-2">{{$h.DisplayDuration .HostRun.StartTime .HostRun.EndTime}}</div>
  </div>
  <div class="row">
    <div class="col-md-1"><b>sudo?</b></div>
    <div class="col-md-11">{{$h.DisplayBool .Job.Sudo}}</div>
  </div>
  <div class="row">
     <div class="col-md-12"><b>commands:</b></div>
  </div>
  {{range $index, $element :=.HostRun.CommandRuns}}
    <div class="container run-panel">
      <div class="row">
        <div class="col-md-1"><b>start:</b></div>
        <div class="col-md-2">{{$h.DisplayTime .StartTime}}</div>
        <div class="col-md-1"><b>end:</b></div>
        <div class="col-md-2">{{$h.DisplayTime .EndTime}}</div>
        <div class="col-md-1"><b>duration:</b></div>
        <div class="col-md-2">{{$h.DisplayDuration .StartTime .EndTime}}</div>
        <div class="col-md-3"></div>
      </div>
      <div class = "row">
        <div class="col-md-11 command-text">$ {{.CommandSpecified}}</div>
        <div class="col-md-1">{{$h.DisplayRunStatusButton .Status}}</div>
      </div>
      {{ if eq .Status 2}}
      <div class = "row">
        <div class="col-md-1 text-danger"><b>error:</b> </div>
        <div class="col-md-11">{{.Error}}</div>
      </div>
      {{end}}
      <div class="row">
        <div class="col-md-1">stdout:</div>
        <div class="col-md-10"><pre class="command-text output" data-url="/api/v1/jobs/{{$.Job.Name}}/{{$.Run.RunId}}/{{$.HostRun.HostId}}/{{$index}}/stdout">loading...</pre></div>
        <div class="col-md-1"></div>
      </div>
      <div class="row">
        <div class="col-md-1">stderr:</div>
        <div class="col-md-10"><pre class="command-text output" data-url="/api/v1/jobs/{{$.Job.Name}}/{{$.Run.RunId}}/{{$.HostRun.HostId}}/{{$index}}/stderr">loading...</pre></div>
        <div class="col-md-1"></div>
      </div>
    </div>
  {{end}}
</div>

<script>
 $(document).ready(function() {
    $("pre.output").each(function(index){
      $(this).load($(this).attr("data-url"), function(response, status, xhr) {
         if(status == "error") {
           $(this).html("");
         }
      });
    });
  });
</script>

