<ol class="breadcrumb">
  <li><a href="/jobs">jobs</a></li>
  <li class="active">{{.Job.Name}}</li>
</ol>
{{$h := .Helpers}}

<div class="container-fluid">
  {{template "job_partial" .}}
  <h4 class= "text-muted">Run History</h4>
  <table class="table">
    <tr>
      <th>Run</th>
      <th>Host</th>
      <th>Status</th>
      <th>Duration</th>
    </tr>
  {{ range .Job.Runs }}
    {{ $runid := .RunId}}
    {{range .HostRuns}} 
       <tr>
       <td>{{$.Job.Name}}.{{$runid}}</td>
       <td><a href="/jobs/{{$.Job.Name}}/{{$runid}}/{{.HostId}}">{{.Host}}</a></td>
       <td> {{$h.DisplayRunStatus .Status}}</td>
       <td> {{$h.DisplayDuration .StartTime .EndTime}}</td>
       </tr>
    {{end}}
  {{ end }}
  </table>

</div>
