{{$h := .Helpers}}

  <h3>{{.Job.Name}}</h3>
  <div class="row">
    <div class="col-md-12">{{.Job.Description}} </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-1"><b>Schedule:</b></div><div class="col-md-2">{{.Job.Schedule}} </div>
    <div class="col-md-1"><b>Last ran:</b></div><div class="col-md-2">{{$h.DisplayAgo .Job.EndTime}} </div>
    <div class="col-md-1"><b>Status:</b></div><div class="col-md-2">{{$h.DisplayRunStatusButton .Job.LastRunStatus}}</div>
    <div class="col-md-1"><b>Sudo: </b></div>
    <div class="col-md-2">{{$h.DisplayBool .Job.Sudo}}</div>
  </div>
  <div class="row">
    <div class="col-md-1"><b>Running:</b></div>
    <div class="col-md-1 {{$h.DisplayRunningClass .Job.Running}}">{{$h.DisplayBool .Job.Running}}</div>
    <div class="col-md-10"></div>
  </div>
  <div class="row">
    {{if .Job.Host }}
      <div class="col-md-1"><b>Host: </b></div>
      <div class="col-md-5">{{.Job.Host}}</div>
    {{else }}
      <div class="col-md-1"><b>Pool: </b></div>
      <div class="col-md-2">{{.Job.Pool}}</div>
    {{end }}
    <div class="col-md-1"><b>Timeouts: </b></div>
    <div class="col-md-5">c:{{.Job.ConnectTimeout}} / r: {{.Job.RunTimeout}} </div>
  </div>
 {{if .Job.Pool }}
   <div class="row"><div class="col-md-12"><b>Pool Hosts:</b></div></div>
   {{range .Job.PoolHosts}}
      <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-11">{{.}}</div>
    </div>
   {{end}}
 {{end}}
  <h4 class= "text-muted">Commands</h4>
  {{ range .Job.Command }}
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-11">{{.}}</div>
    </div>
  {{end}}
