<nav class="navbar navbar-inverse">
<a class="navbar-brand" href="/jobs">Jobs:</a>

</nav>
<table class="table">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Schedule</th>
    <th>Last Run</th>
    <th>Status</th>
    <th>Running?</th>
  </tr>
  {{ range . }}
  <tr>
   <td>{{ .Name }}</td>
   <td>{{ .Description}}</td>
   <td>{{ .Schedule }}</td>
   <td> 3h, 2m ago</td>
   <td> success </td>
   <td> no </td>
  </tr>
  {{ end }}
</table>
