<ol class="breadcrumb">
  <li class="active">jobs</li>
</ol>
<table class="table">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Schedule</th>
    <th>Last Run</th>
    <th>Status</th>
    <th>Running?</th>
  </tr>
  {{$h := .Helpers}}
  {{ range .Jobs }}
  <tr>
   <td><a href="/jobs/{{.Name}}">{{ .Name }}</a></td>
   <td>{{ .Description}}</td>
   <td>{{ .Schedule }}</td>
   <td> {{$h.DisplayAgo .EndTime}}</td>
   <td> {{$h.DisplayRunStatusButton .LastRunStatus}}</td>
   <td> {{$h.DisplayBool .Running}} </td>
  </tr>
  {{ end }}
</table>
