<nav class="navbar navbar-inverse">
<a class="navbar-brand" href="/jobs">Jobs:</a>
</nav>
<table class="table">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Schedule</th>
    <th>Last Run</th>
    <th>Status</th>
    <th>Running?</th>
  </tr>
  {{$helpers := .Helpers}}
  {{ range .Jobs }}
  <tr>
   <td>{{ .Name }}</td>
   <td>{{ .Description}}</td>
   <td>{{ .Schedule }}</td>
   <td> {{$helpers.DisplayAgo .EndTime}} ago</td>
   <td> {{$helpers.DisplayRunStatus .LastRunStatus}}</td>
   <td> {{$helpers.DisplayBool .Running}} </td>
  </tr>
  {{ end }}
</table>
