<!-- templates/layout.tmpl -->
<html>
  <head>
    <title>Scylla</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css" rel="stylesheet">

  </head>
  <body>
    <div class="jumbotron">
    <h1>Scylla</h1>
    </div>
    <div class = "container">
      {{ yield }}
    </div>
  </body>
</html>
